@import '../../../../Variables/colors.module.scss';

.infiniteScrollContainer{
    display: flex;
    color: $pink;
    height: 50px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 500px;

    &_opacity{
        position: absolute; 
        z-index: 99;
        height: 100%;
        width: 100%;
    }

    &_listContainer{
        display: flex;
        position: relative; 
        flex-direction: row;
        z-index: 2;
    }

    &_items{
        font-size: 30px;
        height: 50px;
        width: 50px;
    }

    &_items:first-child{
        animation: bannermove 80s linear infinite;
    }
}

@keyframes bannermove {
    0% {
     margin-left: 0px;
     transform: translateX(0);
    }
    100% {
       margin-left: -2125px;
    }
}

@media only screen and (max-width: 900px) {
    .infiniteScrollContainer{
        width: 300px;
    }
}
