@import '../../Variables/colors.module.scss';
@import '../../Variables/fonts.module.scss';

.NavigatorContainer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    cursor: pointer;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    font-size: 20px;
    font-family: $montserrat;
    font-weight: 300;
    z-index: 999;

    &_options{
        align-items: center;
        display: flex;
        transition: 0.5s;

        &:hover {
            color: $pink !important;
            transition: 0.5s;
        }

        &:hover .NavigatorContainer_line {
            background-color: $pink !important;
            transition: 0.5s;
            width: 100px;
        }

        &:hover .NavigatorContainer_icon {
            transform: rotate(0.5turn);
            transition: 0.5s;
        }

    }
    
    &_line{
        height: 2px;
        transition: 0.5s;
        width: 50px;
    } 

    &_icon {
        color: $pink;
        font-size: 20px;
        margin-right: 5px;
        transform: rotate(-0.5turn);
        transition: 0.5s;
    }

    
}